/**----------------------------------------------
 >>> Table of Contents:
 ------------------------------------------------
 1.0 user_main
 ------------------------------------------------


/*----1.0 user_main---*/

.user_data ul {
    list-style: none;
    display: block;
    margin: 20px auto auto auto;
}

.user_data ul > li {
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 5px;
}

ul .pull-left {
    margin-right: 10px;
}

.user_nav {
    min-width: 768px;
}