<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>攻略</title>
    <link rel="shortcut icon" type="image/ico" href="../images/favicon.ico"/>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="../css/main.css" rel="stylesheet">

</head>
<body>

<div class="header"></div>

<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item" v-bind:class="{'active': $index == 0}"  v-for="item in carousel">
            <img v-bind:src="item.url" v-bind:alt="'img' + $index">
            <div class="carousel-caption">
                <h3>{{ item.desp }}</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <!-- Search -->
    <div class="search hidden-xs">
        <img class="logo center-block img-responsive" src="../images/logo.png">
        <form>
            <div class="input-group">
                <input class="form-control input-lg" type="text" name="search" placeholder="搜索攻略">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-lg" aria-label="search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>

    </div>
</div>

<div class="search visible-xs-block">
    <form>
        <div class="input-group">
            <input class="form-control input-lg" type="text" name="search" placeholder="搜索攻略">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg" aria-label="search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
        </div>
    </form>
</div>

<div class="strategy container">
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">攻略列表</div>
                <div class="panel-body">
                    <p>以下均为用户个人发表的旅游攻略, 不代表本公司的立场观点.</p>
                </div>

                <div class="list-group">
                    <a v-bind:href="item.url" class="list-group-item" v-for="item in strategies">
                        <span class="badge">{{ item.user + " 发表于 " + item.date }}</span>
                        <h4 class="list-group-item-heading">{{ item.title }}</h4>
                        <p class="list-group-item-text">{{ item.desp }}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">筛选</div>
                <div class="panel-body">
                    <form>
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" placeholder="搜索">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" aria-label="search">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <hr>
                    <span>排序规则 </span>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" v-on:click="onSortByTime">
                            <input type="radio" name="sort" id="sortByTime" autocomplete="off" checked>按时间
                        </label>
                        <label class="btn btn-primary" v-on:click="onSortByHot">
                            <input type="radio" name="sort" id="sortByHot" autocomplete="off">按热度
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        init(".nav-strategy", true);

        new Vue({
            el: 'body',
            data: {
                carousel: [
                    {
                        url: '../images/bk4.jpg',
                        desp: '美'
                    },
                    {
                        url: '../images/bk5.jpg',
                        desp: '美'
                    },
                    {
                        url: '../images/bk6.jpg',
                        desp: '美'
                    }
                ],
                strategies: [
                    {
                        url: '#',
                        title:　'小明的朝鲜终生游攻略',
                        desp: '我已阵亡',
                        user: '小明',
                        date: '2016-13-32'
                    },
                    {
                        url: '#',
                        title:　'小明的朝鲜终生游攻略',
                        desp: '我已阵亡',
                        user: '小明',
                        date: '2016-13-32'
                    },
                    {
                        url: '#',
                        title:　'小明的朝鲜终生游攻略',
                        desp: '我已阵亡',
                        user: '小明',
                        date: '2016-13-32'
                    },
                    {
                        url: '#',
                        title:　'小明的朝鲜终生游攻略',
                        desp: '我已阵亡',
                        user: '小明',
                        date: '2016-13-32'
                    }
                ]
            },
            methods: {
                onSortByTime: function(event) {
                    console.log('sortByTime')
                },
                onSortByHot: function(event) {
                    console.log('sortByHot')
                }
            }
        });
    });
</script>


</body>
</html>
