<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>目的地</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="../images/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="../css/main.css" rel="stylesheet">

</head>
<body>

<div class="header"></div>

<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item" v-bind:class="{'active': $index == 0}"  v-for="item in carousel">
            <img v-bind:src="item.url" v-bind:alt="'img' + $index">
            <div class="carousel-caption">
                <h3>{{ item.desp }}</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <!-- Search -->
    <div class="search hidden-xs">
        <img class="logo center-block img-responsive" src="../images/logo.png">
        <form>
            <div class="input-group">
                <input class="form-control input-lg" type="text" name="search" placeholder="搜索目的地">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-lg" aria-label="search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>

    </div>
</div>

<div class="search visible-xs-block">
    <form>
        <div class="input-group">
            <input class="form-control input-lg" type="text" name="search" placeholder="搜索目的地">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg" aria-label="search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
        </div>
    </form>

</div>

<div class="dest container">
    <div class="title clearfix">
        <h2 class="pull-left">国家列表</h2>
        <ul class="nav-continent nav nav-pills pull-right">
            <li class="continent-item" role="presentation" v-for="item in continents" v-bind:class="{'active': item == continentName}"><a href="#" v-on:click.prevent="onContinentSelected">{{ item }}</a></li>
        </ul>
    </div>
    <h3 id="continent-name">{{ continentName }}</h3>
    <div class="row country-wrap text-center">
        <div class="col-sm-3 col-xs-6">
            <ul class="country-list">
                <li v-for="item in country1"><a v-bind:href="item.url">{{ item.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul class="country-list">
                <li v-for="item in country2"><a v-bind:href="item.url">{{ item.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul class="country-list">
                <li v-for="item in country3"><a v-bind:href="item.url">{{ item.name }}</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul class="country-list">
                <li v-for="item in country4"><a v-bind:href="item.url">{{ item.name }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="footer"></div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        init(".nav-dest", true);
    });

    new Vue({
        el: 'body',
        data: {
            carousel: [
                {
                    url: '../images/bk1.jpg',
                    desp: '美'
                },
                {
                    url: '../images/bk2.jpg',
                    desp: '美'
                },
                {
                    url: '../images/bk3.jpg',
                    desp: '美'
                }
            ],
            continents: [
                    '亚洲', '非洲', '北美洲', '南美洲', '大洋洲'
            ],
            country1: [
                {
                    url: 'country.html',
                    name: '中国'
                },
                {
                    url: '#',
                    name: '韩国'
                },
                {
                    url: '#',
                    name: '朝鲜'
                },
                {
                    url: '#',
                    name: '蒙古'
                }
            ],
            country2: [
                {
                    url: 'country.html',
                    name: '中国'
                },
                {
                    url: '#',
                    name: '韩国'
                },
                {
                    url: '#',
                    name: '朝鲜'
                },
                {
                    url: '#',
                    name: '蒙古'
                }
            ],
            country3: [
                {
                    url: 'country.html',
                    name: '中国'
                },
                {
                    url: '#',
                    name: '韩国'
                },
                {
                    url: '#',
                    name: '朝鲜'
                },
                {
                    url: '#',
                    name: '蒙古'
                }
            ],
            country4: [
                {
                    url: 'country.html',
                    name: '中国'
                },
                {
                    url: '#',
                    name: '韩国'
                },
                {
                    url: '#',
                    name: '朝鲜'
                },
                {
                    url: '#',
                    name: '蒙古'
                }
            ],
            continentName: '亚洲'

        },
        methods: {
            onContinentSelected: function(event) {
                this.continentName = $(event.target).text();
            }
        }
    });
</script>


</body>
</html>
